/* StudentLogin.css */

/* studentlogin page container */
.studentlogin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('https://t4.ftcdn.net/jpg/03/01/59/71/360_F_301597103_xQNdJ1F2eKcVox3XAQ3ZZRiFvpKjtiPh.jpg'); /* studentlogin page container background image */
    background-size: cover;
    background-position: center;
}

/* studentlogin page container h2 */
.studentlogin-container h2{
    font-weight: bold;
    font-size: 30px;
}

/* studentlogin page form */
.studentlogin-form {
    display: flex;
    flex-direction: column;
    width: 350px;
}

/* input field */
.studentlogin-form input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

/* login button */
.studentlogin-form button {
    padding: 10px;
    font-size: 16px;
    background-color: #2c3e50;;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/* login button hover */
.studentlogin-form button:hover {
    background-color: #333;
}

/* Email,Password is required An error occurred. Please try again. Don't have an accouunt? (error) */
.error {
    color: black;
    font-size: 14px;
    margin-top: -10px;
}

/* Don't have an accouunt? error will display to show the signup button */
.signup-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}






