/* Teacher.css */

/* teacher page container */
.teacher-container {
    padding-top: 80px;
    background-image: url('https://t4.ftcdn.net/jpg/03/01/59/71/360_F_301597103_xQNdJ1F2eKcVox3XAQ3ZZRiFvpKjtiPh.jpg'); /* Teacher page container background image */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

/* teacher page heading */
.teacher-heading {
    margin-top: 6rem;
    border-bottom: 1px solid #2c3e50;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
}

/* teacher page heading h1 */
.teacher-heading h1 {
    margin: 30px 10px 10px 10px;
    font-size: 60px;
    color: black;
}

/* teacher page heading p */
.teacher-heading p {
    font-size: 27px;
    color: black;
}

/* teacher page content */
.teacher-content {
    text-align: center;
    margin-top: 2.5rem;
    color: black;
}

/* teacher page content p */
.teacher-content p {
    font-size: 27px;
    font-weight: bold;
}

/* button container */
.button {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 10px;
}

/* teachersignup button (Create Your Account) */
.button #create-account-button {
    width: 230px;
}

/* signup icon */
.fas{
    margin-left: 5px;
    margin-top: 5px;
}

/* teaacher signup, login button a */
.button a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    font-size: 20px;
    background-color: #2c3e50;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* teacher signup, login button a hover */
.button a:hover {
    background-color: #333;
}

/* Teacher page Media Queries */

/* Medium (md) divices breackpoints 768px */
@media (max-width: 768px) {
    .teacher-heading {
        margin-left: 50px;
        margin-right: 50px;
    }

    .teacher-heading h1 {
        font-size: 50px;
    }

    .teacher-heading p,
    .teacher-content p {
        font-size: 24px;
    }
}

/* Small (sm) divices breackpoints 576px */
@media (max-width: 576px) {
    .teacher-heading {
        margin-left: 20px;
        margin-right: 20px;
    }

    .teacher-heading h1 {
        font-size: 40px;
    }

    .teacher-heading p,
    .teacher-content p {
        font-size: 20px;
    }

    .button a {
        font-size: 16px;
        width: 110px;
        height: 45px;
    }
}
